#opciones {
    display:flex;
    justify-content: space-between;
    gap:10px;
}

#comentarios {
    resize: none;
}

.informacion {
    margin-top: 1.5%;
}

#textoInfo {
    padding-top: 1%;
}

#formulario{
    background-color: #ced4da;
    margin: 5%;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 10px;
    gap:10px;
}


input, select{
    width: 90%;
}

.partesFormulario{
    padding-top: 4%;
}

::placeholder{
    text-align: left;
}

option{
    text-align: left;
}

#botonEnviar {
    margin: 1%;
}