*{
    align-items: center;
    text-align: center;
    margin: 0;
}

header{
    background-color: #212529;
    color: #E9ecef; 
    display:flex;
    justify-content: space-around;
}

footer{
    background-color: #212529;
    display:flex;
    justify-content: space-around;
    color: #E9ecef; 

}
#opciones {
    display:flex;
    justify-content: space-between;
    gap:10px;
}


h1{
    color: #c9a227;
}

#logo {
    width: 100px;
    height: 100px;
}

@font-face {
    font-family:'Lora'; 
    src: url(./fonts/Lora-Regular.ttf); 
}

@font-face {
    font-family:'Playfair'; 
    src: url(./fonts/PlayfairDisplay-Regular.ttf); 
}

h1, h2{
    font-family:'Playfair';
}

p, li, label, a, option, input, select{
    font-family: 'Lora';
}

a, label, option, input, select{
    color:#f8f9fa;
}


select, input {
    background-color: #adb5bd;
}