*{
    align-items: center;
    text-align: center;
    margin: 0;
}

header{
    background-color: #212529;
    color: #E9ecef; 
    display:flex;
    justify-content: space-around;
}

footer{
    background-color: #adb5bd;
    display:flex;
    justify-content: space-around;

}
#opciones {
    display:flex;
    justify-content: space-between;
    gap:10px;
}


h1{
    color: #c9a227;
}

#logo {
    width: 100px;
    height: 100px;
}