
body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}


.presentacion {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #fff;
}

.presentacion h2 {
  font-size: 2rem;
  color: #1c1c1c;
}

.presentacion p {
  color: #555;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.presentacion img {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  margin-top: 2rem;
}


#especialidades {
  background-color: #2e2e2e;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}

#especialidades h2 {
  color: #f5c32c;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

#especialidades div {
  display: inline-block;
  width: 300px;
  margin: 1rem;
  background-color: #3a3a3a;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: left;
}

#especialidades div:hover {
  transform: translateY(-5px);
}

#especialidades img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#especialidades p {
  padding: 1rem;
  font-size: 0.95rem;
}


.clavesMercado {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #fff;
}

.clavesMercado h2 {
  font-size: 1.8rem;
  color: #ffb619;
  margin-bottom: 2rem;
}

.clavesMercado div {
  display: inline-block;
  width: 320px;
  margin: 1rem;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 12px;
}

.clavesMercado img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


section h2 {
  text-align: center;
  margin-top: 3rem;
  color: #f5c32c;
  background-color: #2e2e2e;
  padding: 1rem;
  border-radius: 8px;
}

section .card {
  display: inline-block;
  background-color: #3a3a3a;
  color: #fff;
  width: 280px;
  margin: 1rem;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  
}



.card img {
  width: 100%;
  height: 200px;
  
}



.card h3 {
  color: #f5c32c;
  margin-bottom: 0.5rem;
}


.logo
{
  width: 150px;
  height: auto;
}
